@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hypertheory Training</h1>
    <p>The Internal Training Management Application</p>
</div>
